<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html');%>
<body>
    <%-include('partials/nav.html');%>
    <% 
        let sub=0;
        let desc=0;
        let tot=0;
        let imp=0;
        
            if(tipo==1){
                sub= KC * 1.08;
                costo=1.08;
                TP="Domicilio"
            }else if(tipo == 2){
                sub=Number(KC)*2.5;
                costo=2.5;
                TP="Comercial"
            }else{
                sub=Number(KC)*3;
                costo=3;
                TP="Industrial"
            }
            imp=Number(sub)*0.16;
            if(KC <= 1000){
                
                Number(desc)=sub*0.1;
                
            }else if(KC > 1000 && KC <= 10000){
                desc=sub*0.2;
            }else{
                desc=sub*0.5;
            }
            tot=Number(sub)+Number(imp)-Number(desc)
        
        %>
    <hr>
    <table class="table table-striped">
        <tr class="table-dark">
        <th>Nombre</th>
        <th>Tipo de servicio</th>
        <th>Kilowatts Consumidos</th>
        <th>Costo por Kilowatts</th>
    </tr>
    <tr>
    <td><%=Nom%></td>
    <td><%=TP%></td>
    <td><%=KC%></td>
    <td><%=costo%></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td>Subtotal:</td>
    <td><%=sub%></td>    
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Impuesto</td>
        <td><%=imp%></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Descuento: </td>
        <td><%=desc%></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td id="fin">Total a pagar: </td>
        <td id="fin"><%=tot%></td>
    </tr>
    </table>
    <%-include('partials/pie.html');%>
</body>
</html>