<%-include('partials/encabezado.html');%>
<body>
    <%-include('partials/nav.html');%>

    <form action="/resultado" method="post" class="form">
        <label for="" class="form-label">Numero Recibo: </label>
        <input type="number" class="form-control" name="Num" id="Num" required="true">
        <br>
        <label for="" class="form-label">Nombre: </label>
        <input type="text" class="form-control" name="Nom" id="Nom" required="true">
        <br>
        <label for="" class="form-label">Domicilio: </label>
        <input type="text" class="form-control" name="DOM" id="DOM" required="true">
        <br>
        <label for="" class="form-label" required="true">Tipo de servicio: </label>
        <select name="tipo" name="tipo" id="tipo">
            <option value=1>Domicilio</option>
            <option value=2>Comercial</option>
            <option value=3>Industrial</option>
        </select>
        <br>
        <label for="" class="form-label">Kilowatts Consumidos: </label>
        <input type="number" class="form-control" name="KC" id="KC" required="true">
        <br>
        <input type="submit" value="Enviar Informacion">
        
    </form>
    <center>
        <button onclick="limpiar()">Limpiar</button>
    </center>
    
    <%-include('partials/pie.html');%>
</body>
<script>
    function limpiar(){
        document.getElementById('Num').value="";
        document.getElementById('Nom').value="";
        document.getElementById('DOM').value="";
        document.getElementById('KC').value="";
    }
</script>

</html>